
		.usr-info{
			min-height:800px;
			text-align:right;
		}
		.usr-detail{
			min-height:800px;
			text-align:left;
		}
		ul.usr-action{
			list-style-type: none;
			font-size: 120%;
			-webkit-margin-before: 0px;
			-webkit-margin-after: 0em;
			-webkit-margin-start: 0px;
			-webkit-margin-end: 0px;
			-webkit-padding-start: 0px;
		}
		ul.trans{
			font-size:120%;
			list-style-type: none;
			padding-left: 0px;
		}
		li.usr-action{
			margin-left: -15px;
			margin-right: -15px;
			padding: 5%;
		}
		icon.trans-icon{
			position: relative;
		}
		.click{
			cursor:pointer;
		}
		.click:hover{
			background-color:#ddd;
			color: #333;
			box-shadow: 5px 0px 0px #5C402E inset;
		}
		.header{
			cursor:pointer;
		}
		.over{
			color:red;
		}
		.container .content {
			display: none;
			padding : 5px;
			width:500%;
		}
		.titles{
			text-align:center;
		}
		@media screen and (min-width: 1280px){
			ul.usr-action{
			font-size:160%;
		}
		.transazioni{
			text-align:center;
		}
		.menu_opz{
			font-size:120%;
			padding-left: 0px;
			min-height:150px;
		}
		ul{
			list-style-type: none;
		}
		.usr-click{
			cursor:pointer;
			min-height:95px;
		}
		.usr-click:hover{
			text-shadow: 0px 3px 1px #999;
			color: #000;
		}
		.usr-click-group:hover .del-cross{
			visibility:visible;
			color:red;
		}
		.del-cross{
			visibility:hidden;
			color:red;
		}
		.soglia_pers:hover .del-cross{
			cursor:pointer;
			visibility:visible;
			color:red;
		}
		.content{
			text-align:left!important;
		}
		.approved-green{
			background-color:rgba(31, 166, 122, 0.38)!important;
		}
		
		.to-save{
			background-color:rgb(125, 185, 232)!important;
		}
		
		.click-to-save{
			cursor:pointer;
		}
		.click-to-save:hover{
			color:rgb(125, 185, 232)!important;
		}
		